{% extends 'base.html.twig' %}

{% block title %}Mon premier symfony !{% endblock %}

{% block body %}
    <style>
        .example-wrapper { 
            font: 18px/1.5 sans-serif; 
        }
        .example-wrapper code { 
            background: #F5F5F5; 
            padding: 2px 6px; 
        }
        .container { 
            height : 94vh;
            -webkit-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 0px 21px 0px rgba(0,0,0,0.75);
        }
    </style>
    
    <div class="example-wrapper row">
        <div class="col-12 text-center">

            {% if error is defined  %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endif %}

            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Numéro de produit</th>
                        <th>Nom de produit</th>
                        <th>Prix (€)</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        {% else %}
                            <th>Acheter</th>
                        {% endif %}
                    </tr>
                </thead>
                
                <tbody>
                    {% for product in Products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.designation }}</td>
                            <td>{{ product.prix }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-outline-info" href="{{ path('modifyProduct',{'id': product.id}) }}">Modifier</a>
                                {% else %}
                                    <a class="btn btn-outline-info" href="#">Acheter ce produit</a>
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <form method="post" action="{{ path('delProduct',{'id': product.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce produit ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-outline-info" href="http://localhost:8000/addProduct">Ajouter un produit</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
